.cart-product{
    width: 100%;
    min-width: 15rem;
    border: 1px solid var( --dark-lazur);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var( --light-green);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.cart-product-img{
    margin-right: 2rem;
    width: 60%;
    padding: 1rem 1rem 1rem;
}

.cart-product-img > img{
    width: 100%;
    padding: 0rem 0rem;
}

.cart-product-info{
    padding: 1rem 0rem 1rem;
}

.cart-product-name, .cart-product-price{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
      sans-serif;
    font-size: var(--text-regular);
    color: var(--dark-lazur);
    text-align: center;
}

.cart-product-name{
    padding-top: 1.5rem;
    padding-bottom: .1rem;
}
.cart-product-price{
    padding-bottom: 3rem;
}

.cart-product-quantity{
    padding-bottom: 1.5rem;
}

.quantity-input{
    font-family: 'Sophista Belucy Regular', 'Helvetica Neue',
    sans-serif;
    font-size: var(--text-regular);
    border: 1px solid var( --dark-lazur);
    border-radius: 3px;
    color: var(--dark-lazur);
    padding: .5rem .5rem;
}

.cart-product-remove{
    font-size: var(--text-large);
    color: red;
    padding: 1rem 2rem;
}


@media only screen and (max-width: 768px) {
    .cart-product{
        flex-wrap: wrap;
    }
    .cart-product-info{
        width: 100%;
    }
    .cart-product-name{
        padding-top: .5rem;
    }
    .cart-product-price{
        padding-bottom: .5rem;
    }
    .cart-product-img{
        margin-right: 0rem;
        width: 100%;
    }
    .cart-product-quantity{
        padding: .5rem 3rem;
    }
    .cart-product-name, .cart-product-price, .quantity-input{
        font-size: var(--text-small);
    }
}
